@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

body {
    margin: 0%;
    padding: 0%;
    background-color: white;
}

.graficoComplte1 {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 75%;
    top: 50%;
}

.graficoComplte2 {
    width: 500px;
    height: 500px;
}

*:focus {
    outline: none;
}

.txt18 {
    font-family: 'Mooli', sans-serif;
    background: white;
}

.imggrafico1 {
    width: 200px;
    height: 200px;
}
.imggrafico2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    width: 500px;
    height: 500px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 75%;
    top: 50%;
}

h1 {
    color: rgb(93, 93, 93);
    font-family: 'Mooli', sans-serif;
    font-size: 40px;
}

.t1b{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 27%;
    top: 24%;
}
.txtat {
    position: absolute;
    left: 35px;
    top: 12px;
}

.iconemais {
    position: absolute;
    left: 5px;
    top: 8px;
}

.addtarefa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 40px;
    background-color: #3857b0;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'Mooli', sans-serif;
    cursor: pointer;
}

.addtarefa:hover {
    box-shadow: 1px 1px 3px #3857b0;
}

.listatarefa {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 500px;
    transform: translate(-50%);
    left: 27%;
    top: 35%;
}

.imgadd {
    display: flex;
    position: absolute;
    width: 200px;
    height: 200px;
    left: 27%;
    top: 55%;
    transform: translate(-50%,-50%);
}

.tarefas {
    display: flex;
    position: relative;
    width: 500px;
    height: 50px;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px #d3d3d3;
    top: 35%;
    margin-bottom: 30px;
}

.marcar {
    margin-top: 6px;
    width: 50px;
    background-color: white;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.texto {
    font-family: 'Mooli', sans-serif;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 450px;
    background-color: white;
    padding-top: 15px;
    font-size: 15px;
}

.deletar {
    border: none;
    width: 50px;
    background: rgb(255, 3, 3);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

.deletar:hover {
    background: rgb(124, 3, 3)
}

.opaddtarefa {
    &[data-aberto="1"] {
        display: none;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 600px;
        height: 500px;
        box-shadow: 3px 3px 30px rgb(102, 100, 100);
        background-color: white;
        border-radius: 30px;
    }

    &[data-aberto="2"] {
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 600px;
        height: 500px;
        box-shadow: 3px 3px 30px rgb(102, 100, 100);
        background-color: white;
        border-radius: 30px;
    }
}

.ttl1 {
    position: absolute;
    font-size: 16px;
    left: 10%;
    top: 13%;
    font-family: 'Mooli', sans-serif;
}

.box1 {
    width: 400px;
    height: 30px;
    border-radius: 5px;
    position: absolute;
    top: 22%;
    left: 10%;
    border: 1px solid rgb(0, 0, 0);
    padding-left: 10px;
    font-family: 'Mooli', sans-serif;
}

.ttl2 {
    position: absolute;
    font-size: 16px;
    left: 10%;
    top: 32%;
    font-family: 'Mooli', sans-serif;
}

.box2 {
    width: 400px;
    height: 30px;
    border-radius: 5px;
    position: absolute;
    top: 41%;
    left: 10%;
    border: 1px solid rgb(0, 0, 0);
    padding-left: 10px;
    font-family: 'Mooli', sans-serif;
}

.ttl3 {
    position: absolute;
    font-size: 16px;
    left: 10%;
    top: 52%;
    font-family: 'Mooli', sans-serif;
}

.box3 {
    width: 200px;
    height: 30px;
    position: absolute;
    top: 60%;
    left: 10%;
}

.valor {
    position: absolute;
    top: 61.50%;
    left: 47%;
    font-family: 'Mooli', sans-serif;
}

.btnadd1 {
    position: absolute;
    right: 15%;
    bottom: 8%;
    border: none;
    background: #242643;
    border-radius: 5px;
    color: white;
    width: 80px;
    height: 35px;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 1px 1px 5px #d3d3d3;
}

.btncl1 {
    position: absolute;
    left: 5%;
    bottom: 8%;
    color: white;
    border: none;
    background: #242643;
    border-radius: 5px;
    width: 80px;
    height: 35px;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 1px 1px 5px #d3d3d3;
}
.popup {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Mooli', sans-serif;
    font-size: 13px;
}
.item1{
    margin-left: 5%;
    margin-top: 13.10%;
}
.item2{
    margin-left: 5%;
    margin-top: 11.20%;
}
.item3{
    margin-left: 5%;
    margin-top: 12.10%;
}
.hover-container{
    display: block;
}